body {
	background-color: gray;
}

#contenido {
	width: 25em;
	text-align: right;
	margin: auto;
	border: 0.2em dashed white;
	box-shadow: 5px 5px 10px rgb(54, 87, 126);
}

#carrito {
	margin-top: 10px;
}

#login {
	color: white;
	border: 0.2em dashed green;
	text-align: right;
	padding: 0.5em;
	margin: 0em auto;
	border-top-left-radius: 1em;
	border-bottom-right-radius: 1em;
}

header {
	width: 22em;
	background-color: white;
	margin: 0em auto;
	margin-bottom: 0.3em;
}

header p {
	border: 0.2em solid black;
}

nav {
	width: 22em;
	margin: 0 auto;
	display: inline-block;
}

nav a {
	float: left;
	margin-right: 0.2em;
	margin-bottom: 0.2em;
	color: white;
	padding: 0.6em;
	background-color: rgb(0, 0, 0);
	text-decoration: none;
	border: 0.2em solid rgb(50, 211, 180);
}

nav a:hover {
	border-top-left-radius: 1em;
	border-bottom-right-radius: 1em;
	background-color: rgb(50, 211, 180);
	border: 0.2em dashed black;
	color: black;
	font-weight: bolder;
}

article {
	margin: 0em auto;
	width: 20em;
}

article table {
	margin: auto;
	padding: 0.5em;
	color: white;
	border: 0.2em dashed violet;
	background-color: black;
}

footer {
	width: 22em;
	background-color: white;
	margin: 0em auto;
	margin-top: 1em;
}

footer p {
	border: 0.2em solid black;
}